/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,500;1,600;1,900&display=swap');

/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

/* Body Styles */
body {
    height: 100vh;
    display: flex;
    padding: 1rem;
    background-color: #503E9D;
}

/* Sidebar Styles */
.sidebar {
    flex: 20%;
}

.sidebar .logo {
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.sidebar .logo h1,
.sidebar .logo h2 {
    font-size: 1.6rem;
    font-weight: bolder;
    color: white;
}

.sidebar .logo h1 {
    width: 56px;
    display: grid;
    place-items: center;
    height: 56px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #6553B2;
}

/* Main Menu Styles */
.menu {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
    padding: 1rem;
    border-radius: 32px 0px 0px 32px;
}

.active-link {
    background-color: white;
    color: #FB6D3A;
}

/* Main Section Styles */
.main-section {
    flex: 80%;
    background-color: white;
    border-radius: 3rem;
    padding: 3rem;
    overflow-y: scroll;
}

.main-section::-webkit-scrollbar {
    display: none;
}

/* Expert Support Section Styles */
.expert-support {
    background-color: #FFF;
    border-radius: 1.5rem;
    padding: 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.expert-support h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1.5rem;
}

.expert-support p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.expert-support a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.expert-support a:hover {
    color: #0056b3;
}
